#papier {
    height: 300px;
    background-color: #EEEEEE;
}

#veld {
    z-index: 1;
    width: 300px;
    height: 250px;
    border: 1px #000 solid;
}

.centreren {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bal {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-color: #03A9F4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0 solid #cccccc;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.5);
}