html, body {
    margin: 0;
    background: mediumpurple;
}

.div1 {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 05);
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 0 0 3% 0;
    background-color: limegreen;
}

.div2 {
    box-shadow: 4px 4px 10px;
    background-color: limegreen;
    width: 90%;
    height: 500px;
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-image: url(https://diegor.nl/i/vyyup.png);
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: top right;
}

.div3 {
    box-shadow: 4px 4px 10px;
    background-color: greenyellow;
    width: 94%;
    height: 300px;
    font-size: 35px;
    margin-left: 3%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Socialistische_Partij_%28SP%29_Logo.svg/1200px-Socialistische_Partij_%28SP%29_Logo.svg.png);
    background-repeat: no-repeat;
    background-size: 220px 220px;
    background-position: bottom left;
    opacity: .7
}

.div4 {
    box-shadow: 4px 4px 10px;
    width: 94%;
    height: 120px;
    font-size: 45px;
    margin-left: 3%;
    background-color: greenyellow;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8
}

.div2:hover {
    float: right
}

@keyframes revolutie {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}
